html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none; /* Prevent scroll chaining */
}

.home-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain; /* Contain horizontal scroll */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home-container::-webkit-scrollbar {
  display: none;
}

.scrollable-container {
  position: absolute;
  width: 200vw;
  height: 100vh;
}

.background-image {
  width: 200vw;
  height: 100vh;
  object-fit: cover;
  object-position: left center;
}

.start-button {
  background-color: rgb(22 163 74);
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: all 200ms;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  z-index: 2;
  pointer-events: auto;
}

.start-button:hover {
  background-color: rgb(21 128 61);
  transform: scale(1.05);
}
